<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <%= l tweet.tweeted_at, format: :short %>
        <div class="row tweet-info">
          <div class="col-lg-2">
            <%= link_to image_tag(tweet.author_image_url), "https://twitter.com/#{tweet.username}"%>
          </div>
          <div class="col-lg-10">
            <%= link_to @tweets_presenter.tweet_message(tweet: tweet), @tweets_presenter.link(tweet: tweet) %>
          </div>
        </div>
        <div class="grid image">
          <%= link_to tweet_image(tweet),  @tweets_presenter.link(tweet: tweet) %>
        </div>
        <%=  play_link(tweet, @played) %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="center-block">
    <%= paginate @tweets %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        You are being redirected to twitter, please wait. <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
</div>