<!DOCTYPE html>
<html>
<head>
  <title>Twitwin</title>
  <%= render partial: "layouts/include" %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
    <%= render partial: "layouts/header" %>
    <div class="container">
      <%= render partial: "layouts/alert" %>
      <%= yield %>
    </div>
  </body>
</html>
